<configuration>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.reactivecouchbase.webstrack.WebStack" level="INFO"/>
    <timestamp key="bySecond" datePattern="dd-MM-yyyy_HH-mm-ss"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="ALL">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>